    {% extends 'base.html' %}
    {% block title %}
        Instrument Page
    {% endblock %}    
    


{% block content %}

    <!-- <div id='calendar-container'>
        <div id='calendar'></div>
    </div> -->
    <style>
        .table td, tr{
            text-align: center;
        }
        .table-hover tbody tr:hover td {
            background: rgb(106, 124, 124);
        }
    </style>

    <div class="container" style="margin-top: 20%;">
        <h2 class='mt-2' style = "color:white">HPLC</h1>
                
        <table class='table table-hover' style="color: white;">
            <thead>
                <tr>
                <th scope='col'>ID</th>
                <th scope='col'>Current Status</th>
                <th scope='col'>Next Available Date</th>
                <th scope='col'>Cal. Due</th> 
                <th scope='col'>Details</th> 
                <th scope='col'>Book</th> 
                </tr>
            </thead>
            <tbody>

                {% for hplc in all_HPLCs %}
                {% include 'includes/detail_modals.html' %}
                {% include 'includes/book_modals.html' %}

                <tr scope='row'>
                <td> {{ hplc.ins_name }} </td>
                <td><img style="width: 25px;" src="{{ url_for('static', filename='images/red.png') }}"> </td>
                <td> {{ hplc.cal_due }}  </td>
                <td>In 2 days (Aug. 06)</td>
                <td> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ hplc.id }}">More Info</button> </td>
                <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal-Book-{{ hplc.id }}">Book this Instrument</button></td>
                </tr>
                {% endfor %}

            </tbody>
          </table>
    </div>



{% endblock %}

