{% extends 'base.html' %}
{% block title %}
    My Reservation
{% endblock %}

{% block content %}

<style>
    .table td, tr{
        text-align: center;
    }
    .table-hover tbody tr:hover td {
        background: rgb(106, 124, 124);
    }
</style>




<div class="container" style="margin-top: 20%;">
    <h2 class='mt-2' style = "color:white">HPLC</h2>

    <table class='table table-hover' style="color: white;">
        <thead>
            <tr>
            <th scope='col'>ID</th>
            <th scope='col'>Date</th>
            <th scope='col'>Remove</th> 
            </tr>
        </thead>
    {% for record in all_reservations %}   
    <form method="POST">
        <tbody>
            <tr scope='row'>
            <td> {{ record.ins_name }} </td>
            <td> {{ record.start }} </td>
            <td>           
                {{ form.record_id(value=record.id, class='d-none') }}
                {{ form.submit(class="btn btn-outline-danger btn-block") }} 
            </td>
            </tr>
        </tbody>
    </form>
    {% endfor %}
    
      </table>

</div>

{% endblock %}