<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js'></script>

  
  <script>
             
  $("#{{ hplc.id }}-calendar").fullCalendar({
  });
      
  $('#modal_form_addappt').on('shown.bs.modal', function () {
         $("#{{ hplc.id }}-calendar").fullCalendar('render');
  });
      
  </script>

  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('{{ hplc.id }}-calendar');
    
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        initialDate: '2021-07-07',
        allDay : true,
        displayEventTime: false,
        borderColor: '#378006',
        headerToolbar: { 
          left: 'prev,next',
          center: 'title',
          right: 'today'
        },
        contentHeight: 400,
        events:[
          {% for event in event_bucket[hplc.ins_name] %}
          {
            title: '{{ event.user }}',
            start: '{{ event.date_start }}',
          },
          {% endfor %}
        ],
      });
      calendar.render();
    });


  </script>


<!-- Modal -->
<div class="modal fade" id="Modal-Book-{{ hplc.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ hplc.ins_name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id='{{ hplc.id }}-calendar'></div>

      <div class='container' style='width: 50%;'>
        <!-- <form> -->
          <div class="mb-3">
            <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <h4> Please select the time interval:</h4>
            <br>
            
            {{ form.ins_name(value=hplc.ins_name, class='d-none') }}

            {{ form.start.label() }}
            {{ form.start(type='date', class="form-control") }}

            {{ form.end.label() }}
            {{ form.end(type='date', class="form-control") }}

            <br>
            {{ form.submit(class="btn btn-m btn-block btn-primary") }}
            </form>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>